@media (min-width: 375px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .article {
        display: inline;
        width: 90vw;
        height: 90vh;
    }

    .imagem-produto {
        width: 90vw;
        height: 35vh;
    }
    
    .imagem-produto img {
        border-radius: 10px 10px 0px 0px;
        width: 90vw;
        height: 35vh;
    }

    .info-produto {
        margin: 25px;
        display: block;
    }

    .nome-produto {
        font-size: 0.8rem;
        margin-bottom: 5px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    .description-produto {
        font-size: 0.8rem;
        margin-bottom: 50px;
        line-height: 1.2rem;
        font-weight: 500;
    }

    .preco {
        width: 70%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        font-family: var(--fonte2);
    }

    .botao-de-compra {
        width: 100%;
        height: 45px;
    }
}