@media (max-width: 576px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .article {
        display: inline;
        width: 300px;
        height: 560px;
    }

    .imagem-produto {
        width: 300px;
        height: auto;
    }
    
    .imagem-produto img {
        border-radius: 10px 10px 0px 0px;
        width: 300px;
        height: auto;
    }

    .info-produto {
        margin: 25px;
        display: block;
    }

    .nome-produto {
        font-size: 0.9rem;
        margin: 10px 0px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    .titulo-produto {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .description-produto {
        margin-bottom: 0px;
    }

    .preco {
        width: 65%;
        margin: 20px 0px;
    }
}